<div class="container row d-flex justify-content-center">
<div class="text-center mb-3 ">
  <h1 class="text-decoration-underline">About Us Page</h1>
</div>
<p class="text-center mb-5 h4">This project was done with Nodejs,MongoDB,Handlebars,Bootstrap,JS,HTML,CSS.etc.</p>
<div class="card text-white bg-secondary border border-2 mb-5 " style="max-width: 20rem;">
  <div class="card-body text-center">
    <h5 class="card-title text-decoration-underline">About Me</h5>
    <p class="card-text">I'm Francis Vaccarezza,i'm 25 years old and currently studyng Software Development. I'm a web programmer and work with NodeJS,MongoDB,JavaScirpt,Java,Mysql,Spring and much more! 
        If you are interested in hiring me don't hesitate to contact me for LinekedIn or Email!</p>
        <i class="fa fa-envelope">    FrancisVaccarezza@gmail.com</i>
  </div>
</div>
</div>
