<footer class="page-footer font-small bg-dark">
  <div class="footer-copyright text-center py-3 text-white">

    <i
      class="fa fa-linkedin-square"
      style="font-size:24px;color:rgb(40, 145, 211)"
    >
      <a
        href="https://www.linkedin.com/in/francis-vaccarezza/"
        target="_blank"
        class="text-white"
      > Francis Vaccarezza
      </a>
    </i>
       <i
      class="fa fa-github"
      style="font-size:24px;color:rgb(255, 255, 255)"
    >
      <a
        href="https://github.com/franhii/"
        target="_blank"
        class="text-white text-align-left"
      > Francis Vaccarezza
      </a>
    </i>
  </div>
</footer>