
</ul>
<nav class="navbar navbar-dark bg-dark mb-4">   
    <div class="container">
        <a href="/" class="navbar-brand">¡Tasks App!</a>
        <a href="/about" class="navbar-brand">About</a>
    </div>

</nav>